{
  "apikey" : "<your-key>",
  "token" : "<your-token>",
  "lists" : [
    {
      "id" : "559058b3a9f8bcac4351cdb6",
      "cardFields" : [
        "name",
        "labels",
        "dateLastActivity"
      ]
    },
    {
      "id" : "559058c3f5cbc7192c9fbd5a",
      "cardFields" : [
        "name",
        "labels",
        "dateLastActivity"
      ]
    },
    {
      "id" : "55905c3ada8378ffe5892c64"
    },
    {
      "id" : "559058ccca97b695e5f14e87"
    },
    {
      "id" :  "559058cefe021e017b19d994"

    }
  ],
  "fields" : [
    "name",
    "desc",
    "descData",
    "labels",
    "closed",
    "dateLastActivity",
    "shortUrl",
    "due"
  ]
}
