{
  "apikey" : "<your-key>",
  "token" : "<your-token",
  "lists" : [
    {
      "id" : "55905c3ada8378ffe5892c64",
      "cardFields" : [
        "name",
        "dateLastActivity"
      ]
    },
    {
      "id" : "55905c3ada8378ffe5892c64"
    },
    {
      "id" : "559058ccca97b695e5f14e87"
    },
    {
      "id" :  "559058cefe021e017b19d994"

    }
  ],
  "fields" : [
    "name",
    "desc",
    "closed",
    "dateLastActivity",
    "shortUrl",
    "due"
  ]
}
